*

.gitignore

!nvim/
!nvim/*
!nvim/*/*
!nvim/*/*/*

!wezterm/
!wezterm/*

!tmux/
!tmux/*

!.zshrc

!scripts/
!scripts/*

!starship/
!starship/*

!.tmuxifier/
!.tmuxifier/*
!.tmuxifier/*/*
!.tmuxifier/*/*/*
!.tmuxifier/*/*/*/*

!alacritty/
!alacritty/*

!lazygit/
!lazygit/*

!alacritty/
!alacritty/*

!nix
!nix/*

!aerospace
!aerospace/*
